.header {
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 5px 20px; 
}

.navHeader {
    display:flex;
    justify-self: center;
    gap:45px;
    font-weight:bold;
}

.navLinks {
    color: rgba(255, 255, 255, 0.87);
    font-size:1.1rem;
    text-decoration: none;
}

.cartImg {
    justify-self: end;
}

